---
import { Image } from 'astro:assets';
import Icon from '@components/Icon.astro';
import bgImageTokyo3 from '@images/Tokyo-3.jpeg';
import avatarExample from '@images/avatar-recomendation.jpeg';
import mapTokyo3 from '@images/map-tokyo-3.jpg';
---

<script>
	import Splide from '@splidejs/splide';

  // Configuracion del slider Recomendaciones
  document.addEventListener('DOMContentLoaded', () => {
    const splide = new Splide('#slider-recommendations', {
      type: 'loop',
			autoplay: false, //true
			perPage: 1,
			perMove: 1,
      pagination: false,
      arrows: true,
      gap: '2rem',
    });

    splide.mount();

    // Configurar paginación personalizada
    const paginationDots = document.querySelectorAll('.pagination-dot');
    const totalSlides = document.querySelectorAll('.splide__slide').length;

    // Función para actualizar el estado activo de los puntos
    const updatePaginationDots = (activeIndex:number) => {
      paginationDots.forEach((dot, index) => {
        dot.classList.remove('active');
        // Añadir clase 'active' al punto correspondiente
        if (index === activeIndex % totalSlides) {
            dot.classList.add('active');
        }
      });
    }

    // Event listeners para los puntos de paginación
    paginationDots.forEach((dot, index) => {
      dot.addEventListener('click', () => {
        // Ir al slide específico
        splide.go(index);
        // Actualizar estado de paginación
        updatePaginationDots(index);
      });
    });

    // Escuchar cambios de slide para actualizar paginación
    splide.on('moved', function (newIndex, prevIndex) {
      updatePaginationDots(newIndex);
    });

    // Inicializar estado de paginación
    updatePaginationDots(0);
  });
</script>

<section 
  class='contact'
  style={`background-image: url(${bgImageTokyo3.src || bgImageTokyo3})`}
>
<!-- <p>Si tienes alguna pregunta o comentario, no dudes en contactarnos a través de nuestro correo electrónico: </p> -->
  <div class="octahedron">
    <div class="octahedron__container">
      <div class="octahedron__face"></div>
      <div class="octahedron__face"></div>
      <div class="octahedron__face"></div>
      <div class="octahedron__face"></div>
      <div class="octahedron__face"></div>
      <div class="octahedron__face"></div>
      <div class="octahedron__face"></div>
      <div class="octahedron__face"></div>
    </div>
  </div>
  <div class="crosses"></div>
  <div class='container mx-auto px-2 md:px-4'>
    <div class="contact__content">
      <article class="contact__child recommendations">
        <h3 class="recommendations__title">Recomendaciones</h3>
        <div id="slider-recommendations" class="slider-recommendations splide">
          <div class="splide__track">
						<ul class="splide__list">
              <li class="splide__slide">
                <article class="card-recommendation">
                  <figure class="card-recommendation__header">
                    <div class="card-recommendation__avatar">
                      <Image src={avatarExample} alt="Avatar de Sebastian Andres Elgueda Jure" width={155} height={150} class="card-recommendation__img"/>
                    </div>
                    <figcaption class="card-recommendation__hgroup">
                      <h4 class="card-recommendation__name">
                        Sebastian Andres Elgueda Jure
                      </h4>
                      <h5 class="card-recommendation__position">
                        Technical Project Manager at Ki Technologies
                      </h5>
                    </figcaption>
                  </figure>
                  <p class="card-recommendation__text">
                    Sebastian es un profesional amable, responsable y tecnicamente muy hábil. Siempre que queremos realizar un trabajo prolijo y bien orquestado buscamos su apoyo.
                  </p>
                  <p class="card-recommendation__text">
                    En nuestro equipo se ha desenvuelto en situaciones de mucho estrés realizando las labores de manera exitosa, siempre comprometido y siendo parte del equipo; es caracteristico de el su timidez que en ocasiones esconde lo adaptable que es como profesional. En nuestro equipo constantemente asumió desafíos cumpliendolos con creces: ha tenido una grán evolución a traves del tiempo que ha permanecido en la empresa.
                  </p>
                </article>
              </li>
              <li class="splide__slide">
                <article class="card-recommendation">
                  <figure class="card-recommendation__header">
                    <div class="card-recommendation__avatar">
                      <Image src={avatarExample} alt="Avatar de Sebastian Andres Elgueda Jure" width={155} height={150} class="card-recommendation__img"/>
                    </div>
                    <figcaption class="card-recommendation__hgroup">
                      <h4 class="card-recommendation__name">
                        Sebastian Andres Elgueda Jure
                      </h4>
                      <h5 class="card-recommendation__position">
                        Technical Project Manager at Ki Technologies
                      </h5>
                    </figcaption>
                  </figure>
                  <p class="card-recommendation__text">
                    Sebastian es un profesional amable, responsable y tecnicamente muy hábil. Siempre que queremos realizar un trabajo prolijo y bien orquestado buscamos su apoyo.
                  </p>
                  <p class="card-recommendation__text">
                    En nuestro equipo se ha desenvuelto en situaciones de mucho estrés realizando las labores de manera exitosa, siempre comprometido y siendo parte del equipo; es caracteristico de el su timidez que en ocasiones esconde lo adaptable que es como profesional. En nuestro equipo constantemente asumió desafíos cumpliendolos con creces: ha tenido una grán evolución a traves del tiempo que ha permanecido en la empresa.
                  </p>
                </article>
              </li>
              <li class="splide__slide">
                <article class="card-recommendation">
                  <figure class="card-recommendation__header">
                    <div class="card-recommendation__avatar">
                      <Image src={avatarExample} alt="Avatar de Sebastian Andres Elgueda Jure" width={155} height={150} class="card-recommendation__img"/>
                    </div>
                    <figcaption class="card-recommendation__hgroup">
                      <h4 class="card-recommendation__name">
                        Sebastian Andres Elgueda Jure
                      </h4>
                      <h5 class="card-recommendation__position">
                        Technical Project Manager at Ki Technologies
                      </h5>
                    </figcaption>
                  </figure>
                  <p class="card-recommendation__text">
                    Sebastian es un profesional amable, responsable y tecnicamente muy hábil. Siempre que queremos realizar un trabajo prolijo y bien orquestado buscamos su apoyo.
                  </p>
                  <p class="card-recommendation__text">
                    En nuestro equipo se ha desenvuelto en situaciones de mucho estrés realizando las labores de manera exitosa, siempre comprometido y siendo parte del equipo; es caracteristico de el su timidez que en ocasiones esconde lo adaptable que es como profesional. En nuestro equipo constantemente asumió desafíos cumpliendolos con creces: ha tenido una grán evolución a traves del tiempo que ha permanecido en la empresa.
                  </p>
                </article>
              </li>
              <li class="splide__slide">
                <article class="card-recommendation">
                  <figure class="card-recommendation__header">
                    <div class="card-recommendation__avatar">
                      <Image src={avatarExample} alt="Avatar de Sebastian Andres Elgueda Jure" width={155} height={150} class="card-recommendation__img"/>
                    </div>
                    <figcaption class="card-recommendation__hgroup">
                      <h4 class="card-recommendation__name">
                        Sebastian Andres Elgueda Jure
                      </h4>
                      <h5 class="card-recommendation__position">
                        Technical Project Manager at Ki Technologies
                      </h5>
                    </figcaption>
                  </figure>
                  <p class="card-recommendation__text">
                    Sebastian es un profesional amable, responsable y tecnicamente muy hábil. Siempre que queremos realizar un trabajo prolijo y bien orquestado buscamos su apoyo.
                  </p>
                  <p class="card-recommendation__text">
                    En nuestro equipo se ha desenvuelto en situaciones de mucho estrés realizando las labores de manera exitosa, siempre comprometido y siendo parte del equipo; es caracteristico de el su timidez que en ocasiones esconde lo adaptable que es como profesional. En nuestro equipo constantemente asumió desafíos cumpliendolos con creces: ha tenido una grán evolución a traves del tiempo que ha permanecido en la empresa.
                  </p>
                </article>
              </li>
            </ul>
          </div>
          <div class="splide__controls">
            <ul class="custom__pagination">
              <li>
                <button class="pagination-dot active" data-slide="0" aria-label="Ir al slide 1"></button>
              </li>
              <li>
                <button class="pagination-dot" data-slide="1" aria-label="Ir al slide 2"></button>
              </li>
              <li>
                <button class="pagination-dot" data-slide="2" aria-label="Ir al slide 3"></button>
              </li>
              <li>
                <button class="pagination-dot" data-slide="3" aria-label="Ir al slide 4"></button>
              </li>
            </ul>
            <div class="splide__arrows">
              <button class="splide__arrow splide__arrow--prev" title="trabajo anterior">
                <Icon icon='arrowSlider' size={30} color='var(--color-bg)'/>
              </button>
              <button class="splide__arrow splide__arrow--next" title="trabajo siguiente">
                <Icon icon='arrowSlider' size={30} color='var(--color-bg)'/>
              </button>
            </div>
          </div>
        </div>
      </article>
      <article class="contact__child contact-links">
        <div class="header-decoration"></div>

        <h2 class="contact-links__title title-evangelion">Contacto</h2>

        <p class="contact-links__cite">Si tienes alguna pregunta o comentario, no dudes en contactarme a través de:</p>
        <div class="contact-links__content">
          <div class="decoration-corner">
            <span class="decoration-corner__corner decoration-corner__corner--1"></span>
            <span class="decoration-corner__corner decoration-corner__corner--2"></span>
            <span class="decoration-corner__corner decoration-corner__corner--3"></span>
            <span class="decoration-corner__corner decoration-corner__corner--4"></span>
          </div>
          <ul class="contact-links__list">
            <li class="contact-links__item">
              <a class="contact-links__link" href="mailto:seba.olate.h@gmail.com">
                <span class="contact-links__text">
                  <Icon icon='email' size={24} class='contact-links__icon'/>
                  Email
                </span>
                <small class="contact-links__subtext">seba.olate.h@gmail.com</small>
              </a>
            </li>
            <li class="contact-links__item">
              <a class="contact-links__link" target="_blank" href="https://www.linkedin.com/in/sebastianolateh/">
                <span class="contact-links__text">
                  <Icon icon='linkedin' size={24} class='contact-links__icon'/>
                  LinkedIn
                </span>
                <small class="contact-links__subtext">/in/sebastianolateh/</small>
              </a>
            </li>
          </ul>
        </div>

        <div class="decoration-map">
          <div class="decoration-map__content" style={`background-image: url(${mapTokyo3.src || mapTokyo3})`}>
            <p class="decoration-map__kanji">東京3</p>
            <p class="decoration-map__text">[localizando <span class="dot">.</span><span class="dot">.</span><span class="dot">.</span>]</p>
          </div>
        </div>
      </article>
    </div>
  </div>
</section>

<!-- <style lang="scss" define:vars={{ bgImgContact1: `url("${bgImageTokyo3.src}")` }}> -->
<style lang="scss">
  .contact {
    background-size: cover;
    background-position: top center;
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
    padding-block: 8vh 42vmin;
    border-bottom: 6px solid var(--color-bg);
    box-shadow: 
      0 -5px 28px rgba(var(--color-main-1-rgb), 0.5), 
      inset 0 0 10px rgba(var(--color-text-rgb), 0.8), 
      1px 20px 4px 5px rgba(var(--color-bg-rgb), .2);
    z-index: 1;

    &__content {
      display: flex;
      flex-direction: column;
      gap: 3rem;
    }
    &__child {
      position: relative;
      z-index: 2;
      width: 100%;
      backdrop-filter: blur(5px);
      background-color: rgba(var(--color-bg-rgb), 0.9);
      border: solid 1px var(--color-main-1);
    }

    @media screen and (width >= 768px) {
      padding-block: 7vh;
      &__content {
        gap: 4rem;
      }
      &__child {
        width: 55%;
      }
    }
    @media screen and (width >= 1024px) {
      padding-block: 8vw 15vw;
    }
    @media screen and (width >= 1280px) {
      background-attachment: fixed;
      padding-block: 6vw;
      min-height: 840px;
      &__content {
        flex-direction: row;
        gap: 10%;
      }
      &__child {
        width: 45%;
      }
    }
    @media screen and (width >= 1440px) {
      min-height: 848px;
      &__content {
        gap: 30%;
      }
      &__child {
        width: 35%;
      }
    }
  }
  .octahedron {
    --p: 0;
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 150px;
    bottom: 0;
    overflow: hidden;
    perspective: 25em;
    perspective-origin: 50% calc(45% - 1em);

    &__container {
      --i: 0;
      --j: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform-style: preserve-3d;
      animation: rot 10s linear calc((var(--p) - 1)*10s) infinite;
    }
    &__face {
      position: absolute;
      margin: -14.43376vmin;
      padding: 14.43376vmin;
      transform: rotatey(calc(var(--i)*-1turn/4)) rotate(calc((1 - var(--j))*.5turn)) rotatex(35.26439deg) translatez(10.20621vmin);
      background: rgba(var(--color-main-2-rgb), .8);
      filter: brightness(calc(.8 + var(--j)*.1));
      --shape: polygon(50% 0%, 93.30127% 75%, 6.69873% 75%);
      clip-path: var(--shape);
      animation: shade 5s ease-in-out calc((var(--p) - var(--i)/4)*10s) infinite alternate;
      animation-play-state: inherit;

      &:nth-child(n + 5) {
        --j: 1;
      }
      &:nth-child(4n + 2) {
        --i: 1;
      }
      &:nth-child(4n + 3) {
        --i: 2;
      }
      &:nth-child(4n + 4) {
        --i: 3;
      }
    }
    @keyframes rot {
      0% {
        transform: rotatey(1turn);
      }
    }
    @keyframes shade {
      to {
        filter: brightness(calc(.5 + var(--j)*.1));
      }
    }
    @media screen and (width >= 768px) {
      height: 360px;
      top: 15%;
      left: 28%;
    }
    @media screen and (width >= 1024px) {
      height: 100%;
      top: 0;
      left: 0;
      bottom: 0;
    }
  }
  .crosses {
    position: absolute;
    z-index: 1;
    inset: 0;
    width: 100%;
    height: 100%;
    background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 49 49">   <rect x="19" y="24" height="1" width="11" style="fill: rgba(228, 233, 243, 0.5);"></rect>   <rect x="24" y="19" height="11" width="1" style="fill: rgba(228, 233, 243, 0.5);"></rect> </svg>');
    background-size: 70px;
    background-repeat: space;

    @media screen and (width >= 768px) {
      background-size: 110px;
    }
  }

  .recommendations {
    padding-top: 1rem;
    &__title {
      font-family: var(--font-family-3);
      font-size: var(--size-20px);
      font-weight: bold;
      color: var(--color-text);
      text-transform: uppercase;
      border-block: solid 1px var(--color-text);
      border-inline: solid 10px var(--color-text);
      display: inline-block;
      padding: .25rem .5rem;
      margin-bottom: 2rem;
      margin-left: 1rem;
      position: relative;

      &::after {
        content: 'sacadas desde mi perfil en LinkedIn *';
        position: absolute;
        top: 0;
        right: -150px;
        display: inline-block;
        color: var(--color-text);
        font-size: 11px;
        font-weight: normal;
        width: 8rem;
      }
    }

    @media screen and (width >= 768px) {
      align-self: start;
      &__title {
        font-size: 1.5rem
      }
    }
  }
  .slider-recommendations.splide {
    .splide__track{
      margin: 0 1rem;
    }
    .splide__controls{
      position: relative;
      background-color: var(--color-main-1);
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: .5rem 1rem;
    }
    .custom__pagination{
      display: inline-flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      margin: 0;
      pointer-events: none;
    }
    .pagination-dot {
      width: 1rem;
      height: 1rem;
      //border-radius: 50%;
      background-color: var(--color-main-1-d1);
      border: 2px solid var(--color-main-2);
      cursor: pointer;
      pointer-events: auto;

      &:hover, &.active {
        background-color: var(--color-main-2);
      }
    }
    .splide__arrows {
      height: 30px;
      display: flex;
      gap: 1rem;

      .splide__arrow--prev{
        transform: rotate(180deg);
      }
    }
  }
  .card-recommendation {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--color-main-2-d3);
    clip-path: polygon(0% 0%, 95% 0%, 100% 10%, 100% 100%, 0% 100%);
    width: min(100%, 430px);
    margin: 0 auto 1rem;
    cursor: grab;

    &:active {
      cursor: grabbing;
    }

    &__header {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      align-items: flex-start;
    }
    &__avatar {
      display: inline-block;
      width: 104px;
      height: 74px;
      //background-color: var(--color-main-1);
      clip-path: polygon(0% 0%,calc(100% - 10px) 0,100% 10px,100% 100%,10px 100%,0 calc(100% - 10px));
    }
    &__img {
      object-fit: cover;
    }
    &__name {
      font-weight: bold;
      color: var(--color-text);
      font-family: var(--font-family-1);
      font-size: var(--size-18px);
      line-height: 20px;
    }
    &__position {
      font-style: italic;
      color: var(--color-text);
      font-family: var(--font-family-2);
      font-size: var(--size-12px);
    }
    &__text {
      color: var(--color-text);
      font-size: var(--size-12px);
    }

    @media screen and (width >= 768px) {
      &__avatar {
        width: 55px;
        height: 50px;
      }
      &__name {
        line-height: inherit;
      }
      &__position {
        font-size: var(--size-14px);
      }
      &__text {
        font-size: var(--size-14px);
      }
    }
  }

  .contact-links {
    padding: 3rem 1rem 2rem 1rem; 
    transform: translateY(0rem);

    &__title {
      font-size: var(--size-48px);
      margin-bottom: 3rem;
      text-align: center;
    }
    &__cite {
      font-family: var(--font-family-2);
      margin-bottom: 1rem;
    }
    &__content {
      //border: solid 1px var(--color-main-1-d3);
      padding: 1rem;
      position: relative;
      z-index: 2;
    }
    &__list {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      position: relative;
      z-index: 3;
    }
    &__link {
      position: relative;
      //height: 38px;
      border: 3px solid var(--color-main-3);
      border-radius: 8px;
      padding: .5rem;
      color: var(--color-main-3);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-transform: uppercase;
      font-weight: bolder;
      background-color: transparent;
      box-shadow: inset var(--color-main-3) 0 0 2px;
      gap: .5rem;
      cursor: pointer;
      transition: 250ms;

      &:hover{
        box-shadow: inset var(--color-main-3) 0 0 12px;
        text-shadow: var(--color-main-3) 0 0 12px;
        transition: 250ms;
        animation: blink-in 0.15s cubic-bezier(1,0,0,1) forwards;
      }
    }
    &__text {
      font-size: var(--size-24px);
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: .5rem;
      border-bottom: 1px solid;
      width: 64%;
      justify-content: center;
    }
    &__icon {
      color: var(--color-main-3);
    }
    &__subtext {
      transform: translateY(-2px);
    }
    
    .decoration-corner {
      position: absolute;
      z-index: 2;
      inset: 0;
      width: 100%;
      height: 100%;
      
      &__corner {
        position: absolute;
        display: block;
        width: 65px;
        height: 35px;
        background-color: transparent;
        &--1 {
          top: 0;
          left: 0;
          border-top: solid 1px var(--color-main-1-d3);
          border-left: solid 1px var(--color-main-1-d3);
        }
        &--2 {
          top: 0;
          right: 0;
          border-top: solid 1px var(--color-main-1-d3);
          border-right: solid 1px var(--color-main-1-d3);
        }
        &--3 {
          bottom: 0;
          left: 0;
          border-bottom: solid 1px var(--color-main-1-d3);
          border-left: solid 1px var(--color-main-1-d3);
        }
        &--4 {
          bottom: 0;
          right: 0;
          border-bottom: solid 1px var(--color-main-1-d3);
          border-right: solid 1px var(--color-main-1-d3);
        }
      }
    }
    .header-decoration {
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 1.5rem;
      margin-bottom: 1rem;
      background: linear-gradient(to right, var(--color-main-1), var(--color-main-2));

      &::after {
        content: '';
        position: absolute;
        z-index: 3;
        top: 0;
        left: 0;
        width: 100%;
        height: 102%;
        background-image: repeating-linear-gradient(135deg, transparent, transparent 10px, rgba(var(--color-bg-rgb), .9) 11px, rgba(var(--color-bg-rgb), .9) 20px);
      }
    }

    @media screen and (width >= 768px) {
      align-self: end;
      &__title {
        font-size: var(--size-56px);
        text-align: left;
      }
      &__link {
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
      }
      &__text {
        border-bottom: 0px solid;
        width: 100%;
        justify-content: start;
      }
    }
    @media screen and (width >= 1024px) {
      padding: 4rem 2rem 3rem 2rem;
    }
    @media screen and (width >= 1280px) {
      transform: translateY(6rem);
    }
  }
  .decoration-map {
    position: absolute;
    z-index: 3;
    width: 200px;
    height: 120px;
    right: -15px;
    padding: 1px;
    opacity: .9;
    display: none;
    cursor: crosshair;
    background-color: var(--color-main-1);
    clip-path: polygon(0 34%, 14% 4%, 51% 4%, 60% 0%, 99% 0%, 100% 100%, 0% 100%);
    
    &__content {
      display: block;
      width: 100%;
      height: 100%;
      padding: 1rem;
      background-position: top right -50px;
      animation: move-map 20s infinite;
      clip-path: polygon(0 34%, 14% 4%, 51% 4%, 60% 0%, 99% 0%, 100% 100%, 0% 100%);
    }
    &__kanji {
      position: absolute;
      top: 0;
      right: 3px;
      padding: 0 .25rem;
      border-inline: 5px solid var(--color-main-3);
      color: var(--color-main-3);
      background-color: var(--color-bg);
    }
    &__text {
    position: absolute;
    bottom: 0;
    left: 0;      
    font-size: var(--size-12px);
    background-color: var(--color-bg);
    display: inline-block;
    padding: 0 4px;
    color: var(--color-main-3);
      .dot {
        opacity: 0;
        animation: fade-sequence 1.4s infinite;
        &:nth-child(1) {
          animation-delay: 0s;
        }
        &:nth-child(2) {
          animation-delay: 0.3s;
        }
        &:nth-child(3) {
          animation-delay: 0.6s;
        }
      }
    }
    @media screen and (width >= 768px) {
      display: block;
      bottom: 73%;
      right: 108%;
    }
    @media screen and (width >= 1024px) {
      bottom: -80px;
      right: -15px;
    }
  }
:global([data-theme='light']) {
  .contact-links {
    &__link {
      color: var(--color-text);
      &:hover {
        text-shadow: var(--color-main-3) 0px 1px 1px;
      }
    }
    &__icon{
      fill: var(--color-text);
      text-shadow: var(--color-main-3) 0px 1px 1px;
    }  
  }
  .decoration-map {
    &__text, &__kanji {
      background-color: var(--color-text);
    }
  }
}
</style>
